# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env

# dbt
dbt/

# Data
data/

# Docker volumes (local only)
.docker/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Test/coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

#My presonal notes
*.txt
